.side-nav {
  background-color: #120338;
  color: #fff;
}
.side-nav .side-nav-header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #120338;
  position: relative;
}
.side-nav .side-nav-header img {
  height: 40px;
  width: 40px;
  min-width: 40px;
  transition: all linear 0.2s;
}
.side-nav .side-nav-header .side-nav-logo {
  margin-left: 10px;
}
.side-nav .side-nav-header .side-nav-logo-collapsed {
  margin-left: 20px;
}
.side-nav .side-nav-header .side-nav-company {
  font-size: 30px;
  font-family: Georgia, serif;
  transition: all linear 0.2s;
}
.side-nav .side-nav-header .side-nav-company-collapsed {
  opacity: 0;
  transition: all linear 0.2s;
}
.side-nav .side-nav-header .side-nav-top-btn {
  position: absolute;
  left: 200px;
  transition: all linear 0.1s;
}
.side-nav .side-nav-header .side-nav-top-btn-collapsed {
  position: absolute;
  left: 80px;
  transition: all linear 0.1s;
}
